.cart {
  width: 500px;
  box-shadow: 0px 0px 3px #ccc;
  display: block;
}

.cart-items-list {
  max-height: 500px;
  overflow: auto;
}

.cart-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
