@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);

@phone:          ~"only screen and (min-width: @{xs-min})";
@phone-strict:   ~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@tablet:         ~"only screen and (min-width: @{sm-min})";
@tablet-strict:  ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@desktop:        ~"only screen and (min-width: @{md-min})";
@desktop-strict: ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@large:          ~"only screen and (min-width: @{lg-min})";

.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  background: url(images/pattern_grayscale.png);
  height: 100%;
}

.products {
  flex: 1 auto;
  flex-basis: 100%;
  padding: 0px 10px;

  @media @desktop {
    flex-basis: 60%;
  }
}

.products-list {
  display: none;

  @media @desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
  }
}

.cart {
  flex: 1 auto;
  flex-basis: 100%;
  background: white;

  @media @desktop {
    flex-basis: 40%;
  }
}

.searchbar {
  height: 60px;
  color: #2f3f7c;
  border: 1px solid #e5e5e5;
  background: white;

  .form-control {
    border: none;
    background: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
    color: #2f3f7c;
    font-size: 1em;

    // &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    //   color: pink;
    // }
    // &::-moz-placeholder { /* Firefox 19+ */
    //   color: pink;
    // }
    // &:-ms-input-placeholder { /* IE 10+ */
    //   color: pink;
    // }
    // &:-moz-placeholder { /* Firefox 18- */
    //   color: pink;
    // }
  }
}
