@import '../../node_modules/normalize.css/normalize.css';
@import './fonts/open-sans.less';

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.centered-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.btn {
  height: 50px;
  padding: 5px;
  text-align: center;
  border: none;
}

.btn-success {
  background: green;
  color: white;
}

.btn-wide {
  width: 100%;
}
