@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/bootstrap/less/bootstrap.less';
@import '../../node_modules/font-awesome/less/font-awesome.less';
@import './fonts/open-sans.less';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

a, a:hover {
  text-decoration: none;;
}

.centered-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.btn {
  height: 50px;
  padding: 5px;
  border: none;
  border-radius: 0;
}

.btn-success {
  background: #43a047;
  color: white;

  &:hover {
    background: saturate(#43a047, 10%)
  }
}

.btn-wide {
  width: 100%;
}


.btn[disabled] {
  background: #ccc;
  color: #777;

  &:hover {
    background: #ccc;
    color: #777;
  }
}

.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}

.text-left {
  text-align: left!important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-header {
  background: #2f3f7c;
  color: white;
  padding: 20px;
  text-align: left;
}

.grid-header-action  {
  margin: 0px 5px;
  cursor: pointer;
}
